SaveMoneyNodeRed.json
[{"id":"365b6f3556443ecc","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"dbb904502b21982f","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Get1","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["ffc16939493ed4e9"]]},{"id":"236e178c9f3a19de","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Delete1","method":"delete","upload":false,"swaggerDoc":"","x":80,"y":160,"wires":[["95905c696174a244"]]},{"id":"67e022417ef3f322","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Post1","method":"post","upload":true,"swaggerDoc":"","x":110,"y":260,"wires":[["93d3053a793bb67c"]]},{"id":"8630884ead323a78","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Put1","method":"put","upload":true,"swaggerDoc":"","x":100,"y":360,"wires":[["7c37a4d944fe082a"]]},{"id":"ffc16939493ed4e9","type":"cloudantplus in","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedb","service":"_ext_","search":"_all_","design":"","index":"","x":240,"y":60,"wires":[["ad2dc3df3152f551","e55578822268428e"]]},{"id":"93d3053a793bb67c","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedb","service":"_ext_","payonly":true,"operation":"insert","x":260,"y":260,"wires":[["5aaa3c4aabfa00e0","1f5289e5a920f356"]]},{"id":"7c37a4d944fe082a","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedb","service":"_ext_","payonly":true,"operation":"insert","x":240,"y":360,"wires":[["ccec828f316814eb","92f53698fdf85889"]]},{"id":"95905c696174a244","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedb","service":"_ext_","payonly":true,"operation":"insert","x":240,"y":160,"wires":[["0239bc3e3c6cb6b4","a93535b457fbf259"]]},{"id":"ad2dc3df3152f551","type":"debug","z":"365b6f3556443ecc","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":80,"wires":[]},{"id":"0239bc3e3c6cb6b4","type":"debug","z":"365b6f3556443ecc","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":180,"wires":[]},{"id":"5aaa3c4aabfa00e0","type":"debug","z":"365b6f3556443ecc","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":280,"wires":[]},{"id":"ccec828f316814eb","type":"debug","z":"365b6f3556443ecc","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":380,"wires":[]},{"id":"e55578822268428e","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":390,"y":40,"wires":[]},{"id":"a93535b457fbf259","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":390,"y":140,"wires":[]},{"id":"1f5289e5a920f356","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":410,"y":240,"wires":[]},{"id":"92f53698fdf85889","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":390,"y":340,"wires":[]},{"id":"1fef797b4a6516b6","type":"split","z":"365b6f3556443ecc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":480,"wires":[["ef3ec1a3ca27ea19"]]},{"id":"b6243a16a5845b2b","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Put2","method":"put","upload":true,"swaggerDoc":"","x":80,"y":480,"wires":[["1fef797b4a6516b6"]]},{"id":"ef3ec1a3ca27ea19","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedb","service":"_ext_","payonly":true,"operation":"insert","x":340,"y":480,"wires":[["8580ee598bb7d7d6","5b910ad74195e465"]]},{"id":"8580ee598bb7d7d6","type":"debug","z":"365b6f3556443ecc","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":500,"wires":[]},{"id":"5b910ad74195e465","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":490,"y":460,"wires":[]},{"id":"1a6daa67482babf6","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedb","service":"_ext_","payonly":true,"operation":"delete","x":360,"y":580,"wires":[["c0c88bdc067d98f6","b389f9102fc0b4df"]]},{"id":"c0c88bdc067d98f6","type":"debug","z":"365b6f3556443ecc","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":600,"wires":[]},{"id":"b389f9102fc0b4df","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":490,"y":560,"wires":[]},{"id":"7b9a782c1a0257b5","type":"split","z":"365b6f3556443ecc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":230,"y":580,"wires":[["1a6daa67482babf6"]]},{"id":"e7b93b074026feb9","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Delete2","method":"delete","upload":true,"swaggerDoc":"","x":80,"y":580,"wires":[["7b9a782c1a0257b5"]]},{"id":"8cba4785bedcbfc2","type":"watson-speech-to-text","z":"365b6f3556443ecc","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"bf6o7LOvNkaceVoAqoeAr2QVxZDNRNIYdmwRtZoL3EeQ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/94b30845-fc72-43ce-8620-48aaf0439403","x":280,"y":700,"wires":[["61c1061453bb2cc3"]]},{"id":"eec8b44193517a53","type":"microphone","z":"365b6f3556443ecc","name":"","x":110,"y":700,"wires":[["8cba4785bedcbfc2"]]},{"id":"603c53ee0d6d2ae7","type":"watson-text-to-speech","z":"365b6f3556443ecc","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"vIc4ToY4-sVUUpqBamx7osF0obgOIrJNvdvUNkh1s49h","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/92a5ac1c-5ff2-4d58-b8f5-ccca09e178da","x":260,"y":780,"wires":[["5c8bcaa3a0d49bd1"]]},{"id":"5c8bcaa3a0d49bd1","type":"play audio","z":"365b6f3556443ecc","name":"","voice":"60","x":430,"y":780,"wires":[]},{"id":"734fcfc20b393a88","type":"inject","z":"365b6f3556443ecc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"onii chan","payloadType":"str","x":100,"y":780,"wires":[["603c53ee0d6d2ae7"]]},{"id":"61c1061453bb2cc3","type":"debug","z":"365b6f3556443ecc","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":700,"wires":[]},{"id":"8946d9c16950ad9f","type":"watson-translator","z":"365b6f3556443ecc","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","apikey":"zyx4Fs13052i-oePv5KEHuni77jg0TgdXwj-6D1kO-6n","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e3f13159-cfa3-45ab-86f5-2a753deb3748","x":470,"y":900,"wires":[["4590a5bc68acc0d5","456760e70e8d1bc6"]]},{"id":"afa62a69b9edc08b","type":"microphone","z":"365b6f3556443ecc","name":"","x":110,"y":880,"wires":[["db24507fd2f0c345"]]},{"id":"4a71fab2d27f4376","type":"inject","z":"365b6f3556443ecc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Teste","payloadType":"str","x":310,"y":920,"wires":[["8946d9c16950ad9f"]]},{"id":"4590a5bc68acc0d5","type":"debug","z":"365b6f3556443ecc","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":920,"wires":[]},{"id":"456760e70e8d1bc6","type":"play audio","z":"365b6f3556443ecc","name":"","voice":"0","x":650,"y":880,"wires":[]},{"id":"db24507fd2f0c345","type":"watson-speech-to-text","z":"365b6f3556443ecc","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"bf6o7LOvNkaceVoAqoeAr2QVxZDNRNIYdmwRtZoL3EeQ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/94b30845-fc72-43ce-8620-48aaf0439403","x":280,"y":880,"wires":[["8946d9c16950ad9f"]]},{"id":"28f9254a4f36ae78","type":"microphone","z":"365b6f3556443ecc","name":"","x":90,"y":1000,"wires":[["ad9a188bfa650c3a"]]},{"id":"aa1fe7debea939ee","type":"debug","z":"365b6f3556443ecc","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":1020,"wires":[]},{"id":"9c7bb2182b1c6958","type":"play audio","z":"365b6f3556443ecc","name":"","voice":"69","x":830,"y":980,"wires":[]},{"id":"ad9a188bfa650c3a","type":"watson-speech-to-text","z":"365b6f3556443ecc","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"bf6o7LOvNkaceVoAqoeAr2QVxZDNRNIYdmwRtZoL3EeQ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/94b30845-fc72-43ce-8620-48aaf0439403","x":260,"y":1000,"wires":[["140b716c6701ce03"]]},{"id":"f9ad7e91763e7a0f","type":"watson-translator","z":"365b6f3556443ecc","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"ja","apikey":"zyx4Fs13052i-oePv5KEHuni77jg0TgdXwj-6D1kO-6n","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ja","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e3f13159-cfa3-45ab-86f5-2a753deb3748","x":650,"y":1000,"wires":[["9c7bb2182b1c6958","aa1fe7debea939ee"]]},{"id":"140b716c6701ce03","type":"watson-translator","z":"365b6f3556443ecc","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","apikey":"zyx4Fs13052i-oePv5KEHuni77jg0TgdXwj-6D1kO-6n","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e3f13159-cfa3-45ab-86f5-2a753deb3748","x":450,"y":1000,"wires":[["f9ad7e91763e7a0f"]]},{"id":"568dc57975198f3e","type":"microphone","z":"365b6f3556443ecc","name":"","x":430,"y":1220,"wires":[["c3d92a3fcdf26829"]]},{"id":"be1031a6325b3ba1","type":"debug","z":"365b6f3556443ecc","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":1200,"wires":[]},{"id":"20041981bc4c4ab4","type":"play audio","z":"365b6f3556443ecc","name":"","voice":"0","x":810,"y":1240,"wires":[]},{"id":"c3d92a3fcdf26829","type":"watson-speech-to-text","z":"365b6f3556443ecc","name":"","alternatives":"1","speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"Multimedia","bandhidden":"Multimedia","keywords":"","keywords-threshold":"0.5","word-confidence":true,"password":"","apikey":"bf6o7LOvNkaceVoAqoeAr2QVxZDNRNIYdmwRtZoL3EeQ","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":true,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/94b30845-fc72-43ce-8620-48aaf0439403","x":620,"y":1220,"wires":[["20041981bc4c4ab4","be1031a6325b3ba1"]]},{"id":"1fbd6dbb0e9bc958","type":"watson-text-to-speech","z":"365b6f3556443ecc","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"vIc4ToY4-sVUUpqBamx7osF0obgOIrJNvdvUNkh1s49h","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/92a5ac1c-5ff2-4d58-b8f5-ccca09e178da","x":620,"y":1260,"wires":[["20041981bc4c4ab4","934d1d1dbde498de"]]},{"id":"934d1d1dbde498de","type":"debug","z":"365b6f3556443ecc","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":1280,"wires":[]},{"id":"aa2dd5b9ee68dacd","type":"change","z":"365b6f3556443ecc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1380,"wires":[[]]},{"id":"3784c3f76facb55d","type":"play audio","z":"365b6f3556443ecc","name":"","voice":"0","x":830,"y":1440,"wires":[]},{"id":"18ccbf5c80955fef","type":"debug","z":"365b6f3556443ecc","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":1400,"wires":[]},{"id":"849756571ee0434d","type":"watson-text-to-speech","z":"365b6f3556443ecc","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/mp3","password":"","apikey":"vIc4ToY4-sVUUpqBamx7osF0obgOIrJNvdvUNkh1s49h","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/92a5ac1c-5ff2-4d58-b8f5-ccca09e178da","x":640,"y":1420,"wires":[["18ccbf5c80955fef","3784c3f76facb55d"]]},{"id":"2539c729bce3e79f","type":"microphone","z":"365b6f3556443ecc","name":"","x":110,"y":1500,"wires":[["d2d95a615b5b0c5c"]]},{"id":"d2d95a615b5b0c5c","type":"watson-speech-to-text","z":"365b6f3556443ecc","name":"","alternatives":"1","speakerlabels":true,"smartformatting":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"Multimedia","bandhidden":"Multimedia","keywords":"","keywords-threshold":"0.5","word-confidence":true,"password":"","apikey":"88z-IYeebENOSXXFNYBX354KOzEpiwLJLvCTD-Tn5flu","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":true,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/119fb6d0-182f-42ee-a261-9410ae3651b3","x":140,"y":1560,"wires":[["6734ac9d306b6725","290b831f0f07b618"]]},{"id":"6734ac9d306b6725","type":"function","z":"365b6f3556443ecc","name":"","func":"\n\n\n\nconst str = msg.payload;\n\nfunction extrairNumeroEConverter(string) {\n  const match = string.match(/\\d+/);\n  if (match) {\n    const numeroString = match[0];\n    const numero = parseInt(numeroString, 10);\n    return numero;\n  } else {\n    return NaN;\n  }\n}\n\nconst words = str.split(' ');\n\nlet numero = extrairNumeroEConverter(words[0]);\nlet palavra = words[1];\n\nlet saida = '';\n\nfor(let i = 0; i < numero; i++) {\n  msg.payload = saida;\n  msg.payload += palavra + ' ';\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1580,"wires":[["ff636a5cd88b52b8"]]},{"id":"68680d2309f64e03","type":"watson-text-to-speech","z":"365b6f3556443ecc","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"tx23t1TmKSQzqTgY7ZZdAb4Gjl2z2uwbfF3lwZeZXmG3","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ec9a1380-4e6b-4eb3-8a95-f02051d840d3","x":560,"y":1580,"wires":[["6a85d40f549d50af"]]},{"id":"6a85d40f549d50af","type":"play audio","z":"365b6f3556443ecc","name":"","voice":"0","x":750,"y":1580,"wires":[]},{"id":"ff636a5cd88b52b8","type":"debug","z":"365b6f3556443ecc","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":1640,"wires":[]},{"id":"290b831f0f07b618","type":"debug","z":"365b6f3556443ecc","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":1540,"wires":[]},{"id":"d6aa1702efb949be","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Post11","method":"post","upload":true,"swaggerDoc":"","x":110,"y":1760,"wires":[["83db4373fd71c8b2"]]},{"id":"83db4373fd71c8b2","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedbbb","service":"_ext_","payonly":true,"operation":"insert","x":270,"y":1760,"wires":[["0fdf930abefbb9c2","0e133981f4736902"]]},{"id":"0fdf930abefbb9c2","type":"debug","z":"365b6f3556443ecc","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1780,"wires":[]},{"id":"0e133981f4736902","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":410,"y":1740,"wires":[]},{"id":"e2143f368c4ab2fe","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Get11","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1860,"wires":[["f2a2b46b1875bb73"]]},{"id":"f2a2b46b1875bb73","type":"cloudantplus in","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"testedbbb","service":"_ext_","search":"_all_","design":"","index":"","x":270,"y":1860,"wires":[["9f9d71f94d9bf964","4a39c12a76aacede"]]},{"id":"9f9d71f94d9bf964","type":"debug","z":"365b6f3556443ecc","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1880,"wires":[]},{"id":"4a39c12a76aacede","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":410,"y":1840,"wires":[]},{"id":"b007d42754a4b5b9","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"teste12db1","service":"_ext_","payonly":true,"operation":"insert","x":270,"y":1960,"wires":[["3f50e74f6ddec030"]]},{"id":"436899f32a9bf988","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Post123","method":"post","upload":true,"swaggerDoc":"","x":80,"y":1960,"wires":[["b007d42754a4b5b9","dc673e0e313f6cf0","699738598f1a24d1"]]},{"id":"699738598f1a24d1","type":"debug","z":"365b6f3556443ecc","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":2020,"wires":[]},{"id":"3f50e74f6ddec030","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":470,"y":1940,"wires":[]},{"id":"5b378b4bb3538d26","type":"http in","z":"365b6f3556443ecc","name":"","url":"/Get123","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2080,"wires":[["63d53d3bc5dfd147"]]},{"id":"63d53d3bc5dfd147","type":"cloudantplus in","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"teste12db1","service":"_ext_","search":"_all_","design":"","index":"","x":130,"y":2220,"wires":[["2ffd67bc25cb4009","5de8a0db9d11ee41","c34ecb729057b1a9"]]},{"id":"2ffd67bc25cb4009","type":"debug","z":"365b6f3556443ecc","name":"debug 20","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":2240,"wires":[]},{"id":"5de8a0db9d11ee41","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":390,"y":2200,"wires":[]},{"id":"c34ecb729057b1a9","type":"function","z":"365b6f3556443ecc","name":"function 1","func":"\n\n\n// Function node\n\n// Recebe o array de objetos na msg.payload\nlet valores = msg.payload;\n\n// Pega o último valor\nlet ultimoValor = valores[valores.length - 1].valor;\n\n// Envia só este valor numérico para o próximo nó\nmsg.payload = parseInt(ultimoValor);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2140,"wires":[[]]},{"id":"dc673e0e313f6cf0","type":"ui_gauge","z":"365b6f3556443ecc","name":"","group":"98773fc4b73a8774","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.valor}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":290,"y":2040,"wires":[]},{"id":"5601c10dd752fc34","type":"http in","z":"365b6f3556443ecc","name":"","url":"/SaveMoneyGet","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2360,"wires":[["665779a72e4b132a"]]},{"id":"8bd0697c3ba4c5d6","type":"http in","z":"365b6f3556443ecc","name":"","url":"/SaveMoneyDelete","method":"delete","upload":false,"swaggerDoc":"","x":110,"y":2460,"wires":[["e4588591febae3dd"]]},{"id":"91a4ceaac318112b","type":"http in","z":"365b6f3556443ecc","name":"","url":"/SaveMoneyPost","method":"post","upload":true,"swaggerDoc":"","x":120,"y":2560,"wires":[["023b0fad9eb08423"]]},{"id":"1106aa7d93b1b6c3","type":"http in","z":"365b6f3556443ecc","name":"","url":"/SaveMoneyPut","method":"put","upload":true,"swaggerDoc":"","x":120,"y":2660,"wires":[["b24ad6eb26e53015"]]},{"id":"665779a72e4b132a","type":"cloudantplus in","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"savemoney","service":"_ext_","search":"_all_","design":"","index":"","x":330,"y":2360,"wires":[["48e72e0ca844abcb","09c07723608f25e6"]]},{"id":"023b0fad9eb08423","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"savemoney","service":"_ext_","payonly":true,"operation":"insert","x":310,"y":2560,"wires":[["d6e7b01041c807f5","512a1398cf036251"]]},{"id":"b24ad6eb26e53015","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"savemoney","service":"_ext_","payonly":true,"operation":"insert","x":310,"y":2660,"wires":[["be7e7eca52dcb10c","8074a5ce95c5015c"]]},{"id":"e4588591febae3dd","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"savemoney","service":"_ext_","payonly":true,"operation":"insert","x":310,"y":2460,"wires":[["7bcf2b8f8ab4d4bc","55f49c69414ce48a"]]},{"id":"48e72e0ca844abcb","type":"debug","z":"365b6f3556443ecc","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":2380,"wires":[]},{"id":"7bcf2b8f8ab4d4bc","type":"debug","z":"365b6f3556443ecc","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":2480,"wires":[]},{"id":"d6e7b01041c807f5","type":"debug","z":"365b6f3556443ecc","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":2580,"wires":[]},{"id":"be7e7eca52dcb10c","type":"debug","z":"365b6f3556443ecc","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":2680,"wires":[]},{"id":"09c07723608f25e6","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":550,"y":2340,"wires":[]},{"id":"55f49c69414ce48a","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":510,"y":2440,"wires":[]},{"id":"512a1398cf036251","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":510,"y":2540,"wires":[]},{"id":"8074a5ce95c5015c","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":510,"y":2640,"wires":[]},{"id":"3856a68442a3f87c","type":"split","z":"365b6f3556443ecc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":2740,"wires":[["fe3b4086a08ecba2"]]},{"id":"fe3b4086a08ecba2","type":"cloudantplus out","z":"365b6f3556443ecc","name":"","cloudant":"cef8c8b66b9f5887","database":"savemoney","service":"_ext_","payonly":true,"operation":"insert","x":310,"y":2800,"wires":[["989026ba1ddfb840","84d406c2e6dcd8cc"]]},{"id":"989026ba1ddfb840","type":"debug","z":"365b6f3556443ecc","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":2820,"wires":[]},{"id":"84d406c2e6dcd8cc","type":"http response","z":"365b6f3556443ecc","name":"","statusCode":"","headers":{},"x":490,"y":2780,"wires":[]},{"id":"faab39c89fbac6db","type":"http in","z":"365b6f3556443ecc","name":"","url":"/SaveMoneyPut2","method":"put","upload":true,"swaggerDoc":"","x":120,"y":2740,"wires":[["3856a68442a3f87c"]]},{"id":"cef8c8b66b9f5887","type":"cloudantplus","host":"https://apikey-v2-16d9pc9gjneh8on884qeslyhcih917bgxgtclub94xtt:02d33f7efed8fbdd9ebad5e26f041d13@8472bb0f-4f34-4675-bd25-3cf7a52343d1-bluemix.cloudantnosqldb.appdomain.cloud","name":"","useapikey":true},{"id":"98773fc4b73a8774","type":"ui_group","name":"Teste1","tab":"b55d6947dfa4772b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b55d6947dfa4772b","type":"ui_tab","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]